sudo: required

notifications:
  email: false

services:
  - docker

language: d

d:
  - dmd-2.071.2
  - ldc-1.1.0

matrix:
  allow_failures:
    - d: ldc-1.1.0

os:
  - linux
  - osx

env:
  - ARCH=x86_64

before_install:
  - git fetch --unshallow
  - dub fetch doveralls
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then
        sudo apt update;
        sudo apt install -qq libevent-dev;
    fi

script:
  - dub test --coverage --combined
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then
        ./archive.sh || exit 1;
        docker build -t $MOECOOP_IMAGE .;
        docker run $MOECOOP_IMAGE -h || exit 1;
        docker images $MOECOOP_IMAGE;
    fi

after_success:
  - dub run doveralls
  - if [ "$TRAVIS_OS_NAME" = "linux" -a "$TRAVIS_BRANCH" = "master" -a "$DC" = "dmd" ]; then
        export version=$(cat views/version);
        echo "uploading docker image...";
        docker tag $MOECOOP_IMAGE $MOECOOP_IMAGE:$version;
        docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
        docker push $MOECOOP_IMAGE:$version;
        docker push $MOECOOP_IMAGE:latest;
        echo "machine app.arukas.io\n    login $ARUKAS_API_TOKEN\n    password $ARUKAS_API_SECRET" >> ~/.netrc;
        chmod 600 ~/.netrc;
        ./arukas-update.sh $MOECOOP_IMAGE $version $MOECOOP_DOMAIN || exit 1;
    fi
