swagger: '2.0'
info:
  title: 生協の知恵袋 API
  description: 生協の知恵袋が提供しているデータや機能にアクセスするための API です。ベース URL は https://moecoop-api.arukascloud.io/ です。
  license:
    name: MIT License
    url: https://github.com/coop-mojo/moecoop/blob/master/LICENSE
  version: "1.0.0"
host: moecoop-api.arukascloud.io
schemes:
  - https
basePath: /
consumes:
  - application/json
produces:
  - application/json
paths:
  /version:
    get:
      summary: サーバーバージョン情報
      description: 生協の知恵袋 API サーバーのバージョンを返します。デバッグ用です。
      tags: 
        - その他
      responses:
        200:
          description: バージョン情報
          schema:
            type: object
            properties:
              version:
                type: string
  /information:
    get:
      summary: FS 生協からのお知らせなど
      description: 生協の知恵袋の新バージョンのお知らせや、生協からの広告を返します。
      tags: 
        - その他
      responses:
        200:
          description: 生協からのお知らせ
          schema:
            type: object
            properties:
              message:
                type: string
                description: 広告です。
              oldestSupportedRelease:
                type: string
                description: このサーバーがサポートしている最も古い知恵袋クライアントのバージョンです。
              latestRelease:
                type: string
                description: 知恵袋クライアントの最新バージョンです。
  /binders:
    get:
      summary: バインダー情報
      description: |
        バインダー一覧を返します。
      tags:
        - レシピ
      responses:
        200:
          description: バインダー一覧
          schema:
            type: object
            properties:
              バインダー情報:
                type: array
                items:
                 $ref: '#/definitions/バインダー情報'

  /binders/{binder}/recipes:
    get:
      summary: バインダー収録レシピ一覧
      description: |
        指定したバインダーに収録されているレシピ一覧を返します。
      tags:
        - レシピ
      parameters:
        - name: binder
          in: path
          description: バインダー名
          required: true
          type: string
        - name: query
          in: query
          description: レシピ名検索用のクエリです。
          required: false
          type: string
        - name: migemo
          in: query
          description: true を指定すると、Migemo 検索を使用します。デフォルトは false です。
          required: false
          type: boolean
        - name: rev
          in: query
          description: true を指定すると、レシピの結果生成できるアイテム名を検索します。デフォルトは false です。
          required: false
          type: boolean
        - name: sort
          in: query
          description: name を指定するとレシピ名でソートされた結果が、skill でソートすると生産に必要なスキル値でソートされた結果が返ります。 default ではバインダーの登録順で結果が返ります。デフォルトは default です。
          required: false
          type: string
          enum:
            - name
            - skill
            - default
        - name: fields
          in: query
          description: 取得したいレシピ詳細情報のフィールド名を","でつなげた文字列です。ここで与えたフィールドの値が、返り値の追加情報欄に入ります。
          required: false
          type: string
          collectionFormat: csv
      responses:
        200:
          description: バインダーに収録されているレシピ情報の配列
          schema:
            type: object
            properties:
              レシピ一覧:
                type: array
                items:
                  $ref: '#/definitions/レシピ情報'
        404:
          description:
            指定したバインダーが存在しないか、fields パラメータで指定したフィールドが存在しない
          schema:
            type: object
            properties:
              statusMessage:
                type: string
                description: No such binder か No such field

  /skills:
    get:
      summary: スキルカテゴリ一覧
      description: |
        スキルカテゴリ一覧を返します。
      tags:
        - レシピ
      responses:
        200:
          description: スキルカテゴリ一覧
          schema:
            type: object
            properties:
              スキル情報:
                type: array
                items:
                 $ref: '#/definitions/スキルカテゴリ情報'

  /skills/{skill}/recipes:
    get:
      summary: スキルカテゴリ内レシピ一覧
      description: |
        指定したスキルカテゴリに分類されているレシピ一覧を返します。
      tags:
        - レシピ
      parameters:
        - name: skill
          in: path
          description: スキルカテゴリ名
          required: true
          type: string
        - name: query
          in: query
          description: レシピ名検索用のクエリです。
          required: false
          type: string
        - name: migemo
          in: query
          description: true を指定すると、Migemo 検索を使用します。デフォルトは false です。
          required: false
          type: boolean
        - name: rev
          in: query
          description: true を指定すると、レシピの結果生成できるアイテム名を検索します。デフォルトは false です。
          required: false
          type: boolean
        - name: sort
          in: query
          description: name を指定するとレシピ名でソートされた結果が、skill でソートすると生産に必要なスキル値でソートされた結果が返ります。デフォルトを指定した場合の結果の順序は定義されていません。デフォルトは default です。
          required: false
          type: string
          enum:
            - name
            - skill
            - default
        - name: fields
          in: query
          description: 取得したいレシピ詳細情報のフィールド名を","でつなげた文字列です。ここで与えたフィールドの値が、返り値の追加情報欄に入ります。
          required: false
          type: string
          collectionFormat: csv
      responses:
        200:
          description: スキルカテゴリに分類されているレシピ情報の配列
          schema:
            type: object
            properties:
              レシピ一覧:
                type: array
                items:
                  $ref: '#/definitions/レシピ情報'
        404:
          description:
            指定したスキルカテゴリが存在しないか、fields パラメータで指定したフィールドが存在しない
          schema:
            type: object
            properties:
              statusMessage:
                type: string
                description: No such skill category か No such field

  /recipes:
    get:
      summary: レシピ一覧
      description: レシピ一覧を返します。
      tags:
        - レシピ
      parameters:
        - name: query
          in: query
          description: レシピ名検索用のクエリです。
          required: false
          type: string
        - name: migemo
          in: query
          description: true を指定すると、Migemo 検索を使用します。デフォルトは false です。
          required: false
          type: boolean
        - name: rev
          in: query
          description: true を指定すると、レシピの結果生成できるアイテム名を検索します。デフォルトは false です。
          required: false
          type: boolean
        - name: sort
          in: query
          description: name を指定するとレシピ名でソートされた結果が、skill でソートすると生産に必要なスキル値でソートされた結果が返ります。 default を指定した場合の順序は定義されていません。デフォルトは default です。
          required: false
          type: string
          enum:
            - name
            - skill
            - default
        - name: fields
          in: query
          description: 取得したいレシピ詳細情報のフィールド名を","でつなげた文字列です。ここで与えたフィールドの値が、返り値の追加情報欄に入ります。
          required: false
          type: string
          collectionFormat: csv
      responses:
        200:
          description: レシピ情報の配列
          schema:
            type: object
            properties:
              レシピ一覧:
                type: array
                items:
                  $ref: '#/definitions/レシピ情報'
        404:
          description: fields パラメータで指定したフィールドが存在しない
          schema:
            type: object
            properties:
              statusMessage:
                type: string
                description: No such field

  /recipes/{recipe}:
    get:
      summary: レシピ詳細
      description: レシピの詳細情報を返します。
      tags:
        - レシピ
      parameters:
        - name: recipe
          in: path
          description: レシピ名です。
          required: true
          type: string
      responses:
        200:
          description: レシピの詳細情報
          schema:
            $ref: '#/definitions/レシピ詳細情報'
        404:
          description:
            指定したレシピがない
          schema:
            type: object
            properties:
              statusMessage:
                type: string
                description: No such recipe

  /items:
    get:
      summary: アイテム一覧
      description: アイテム一覧を返します。
      tags:
        - アイテム
      parameters:
        - name: query
          in: query
          description: アイテム名検索用のクエリです。
          required: false
          type: string
        - name: migemo
          in: query
          description: true を指定すると、Migemo 検索を使用します。デフォルトは false です。
          required: false
          type: boolean
        - name: only-products
          in: query
          description: true を指定すると、生産スキルで作成できるアイテムのみを検索します。デフォルトは false です。
          required: false
          type: boolean
      responses:
        200:
          description: アイテム情報の配列
          schema:
            type: object
            properties:
              アイテム一覧:
                type: array
                items:
                  $ref: '#/definitions/アイテム情報'

  /items/{item}:
    get:
      summary: アイテム詳細情報
      description: アイテムの詳細情報を表示します。参考価格はデフォルトの値が使用されます。
      tags:
        - アイテム
      parameters:
        - name: item
          in: path
          description: アイテム名です。
          required: true
          type: string
      responses:
        200:
          description: アイテムの詳細情報
          schema:
            $ref: '#/definitions/アイテム詳細情報'
        404:
          description:
            指定したレシピがない
          schema:
            type: object
            properties:
              statusMessage:
                type: string
                description: No such item
    post:
      summary: 調達価格を反映させたアイテム詳細情報
      description:
        アイテムの詳細情報を表示します。参考価格の計算にはパラメーターで与えられた調達価格が使用されます。
      tags:
        - アイテム
      parameters:
        - name: item
          in: path
          description: アイテム名です。
          required: true
          type: string
        - name: body
          in: body
          description: 反映させるアイテムの調達価格です。
          required: true
          schema:
            type: object
            properties:
              調達価格:
                type: object
                description: アイテムの調達価格です。キーはアイテム名、値はそのアイテムの調達価格です。
      responses:
        200:
          description: アイテムの詳細情報
          schema:
            $ref: '#/definitions/アイテム詳細情報'
        404:
          description:
            指定したレシピがない
          schema:
            type: object
            properties:
              statusMessage:
                type: string
                description: No such item

  /menu-recipes/options:
    get:
      summary: レシピ候補一覧
      description: 塩やインゴットなど、生産する方法が複数あるアイテムに関して、レシピ候補の一覧を返します。
      tags:
        - アイテム
        - レシピ
        - メニューレシピ
      responses:
        200:
          description: 選択可能レシピ一覧
          schema:
            type: object
            properties:
              選択可能レシピ:
                type: array
                description: 選択可能レシピ一覧です。
                items:
                  type: object
                  description: 生産アイテムと、そのアイテムを生産できるレシピの配列です。
                  properties:
                    生産アイテム:
                      $ref: '#/definitions/アイテム情報'
                    レシピ候補:
                      type: array
                      description: アイテムを生産できるレシピ一覧です。
                      items:
                        $ref: '#/definitions/レシピ情報'
  /menu-recipes/preparation:
    post:
      summary: アイテム作成に必要なアイテム・レシピ一覧
      description: アイテム作成に必要になる可能性があるアイテム・レシピ一覧を返します。
      tags:
        - アイテム
        - メニューレシピ
      parameters:
        - name: body
          in: body
          description: 作成したいアイテム一覧です。
          required: true
          schema:
            type: object
            properties:
              作成アイテム:
                type: array
                items:
                  type: string
                  description: 作成したいアイテムです。
      responses:
        200:
          description: 必要アイテムおよびレシピ一覧
          schema:
            type: object
            properties:
              必要レシピ:
                type: array
                description: 必要レシピ一覧です。
                items:
                  $ref: '#/definitions/レシピ情報'
              必要素材:
                type: array
                description: 必要アイテム一覧です。各要素の追加情報から "中間素材" (boolean) が取得できます。"中間素材" は、該当素材が他の素材からの生産スキルで作成でき、body 部から渡される作成アイテムに含まれていない場合に true になります。
                items:
                  $ref: '#/definitions/アイテム情報'
        403:
          description: 引数に渡されたアイテムが存在しない
          schema:
            type: object
            properties:
              statusMessage:
                type: string
                description: No such item

  /menu-recipes:
    post:
      summary: アイテム作成に必要な素材・レシピおよび作成時の余りを返す
      description: 指定したアイテム作成に必要な素材の種類や数・各種レシピの適用回数および、余る素材の種類と数を返します。
      tags:
        - アイテム
        - レシピ
        - メニューレシピ
      parameters:
        - name: body
          in: body
          description: 必要な素材やレシピを調べるのに必要な情報です。
          required: true
          schema:
            type: object
            properties:
              作成アイテム:
                type: object
                description: 作成したいアイテムとその個数です。キーがアイテム名、値が作成個数を表します。
              所持アイテム:
                type: object
                description: 手元に持っているアイテムとその個数です。この値が {} でない場合、所持アイテムを考慮して素材やレシピを返します。キーがアイテム名、値が所持数を表します。
              使用レシピ:
                type: object
                description: 特定アイテムを作成するレシピが複数ある場合に、利用するレシピを指定します。特に指定しない場合、知恵袋のデフォルトが使用されます。キーはアイテム名、値はアイテムを作成できるレシピ名を表します。作成方法が複数あるアイテムと、選択可能なレシピ一覧については /menu-recipes/options を参照してください。
              直接調達アイテム:
                type: array
                description: 素材から用意せず、直接用意するアイテムを指定します。例えば直接調達アイテムに塩を指定した場合、「塩(岩塩)」レシピは使用しなくなります。
                items:
                  type: string
                  description: 直接調達するアイテム名です。
      responses:
        200:
          description: 必要アイテム、レシピ、余り物一覧
          schema:
            type: object
            description: 作成に必要なアイテム・レシピ・余るアイテムです。
            properties:
              必要レシピ:
                type: array
                description: 必要レシピとその適用回数です。
                # TODO: ソート順についても追記する
                items:
                  $ref: '#/definitions/レシピ回数情報'
              必要素材:
                type: array
                description: 必要アイテムとその個数です。各要素の追加情報から "中間素材" (boolean) が取得できます。"中間素材" は、該当素材が他の素材からの生産スキルで作成でき、body 部から渡される作成アイテムに含まれていない場合に true になります。
                # TODO: ソート順についても追記する
                items:
                  $ref: '#/definitions/アイテム個数情報'
              余り物:
                type: array
                description: 作成イテムを作ったときに余る素材とその個数です。
                items:
                  $ref: '#/definitions/アイテム個数情報'
        403:
          description: 引数に渡されたアイテムかレシピが存在しない
          schema:
            type: object
            properties:
              statusMessage:
                type: string
                description: No such item or no such recipe

definitions:
  バインダー情報:
    type: object
    properties:
      バインダー名:
        type: string
        description: バインダー名です。
      レシピ一覧:
        type: string
        description: バインダーに収録されているレシピを表示するエンドポイントです。
  レシピ情報:
    type: object
    properties:
      レシピ名:
        type: string
        description: レシピ名です。
      詳細:
        type: string
        description: 詳細情報を表示するエンドポイントです。
      追加情報:
        type: object
        description: リンク以外の追加情報が含まれます。取り得るキーや値についてはレシピ詳細情報と同様です。
  レシピ回数情報:
    type: object
    properties:
      レシピ名:
        type: string
        description: レシピ名です。
      詳細:
        type: string
        description: 詳細情報を表示するエンドポイントです。
      追加情報:
        type: object
        description: リンク以外の追加情報が含まれます。取り得るキーや値についてはレシピ詳細情報と同様です。
      コンバイン数:
        type: integer
        description: レシピのコンバイン数です。
        minimum: 1
  レシピ詳細情報:
    type: object
    properties:
      レシピ名:
        type: string
        description: レシピ名です。
      材料:
        type: array
        description: レシピの材料です。
        items:
          $ref: '#/definitions/アイテム個数情報'
      生成物:
        type: array
        description: 生成されるアイテムです。
        items:
          $ref: '#/definitions/アイテム個数情報'
      テクニック:
        type: array
        description: 生産に必要なテクニックです。配列内のどのテクニックでも生産できます。
        items:
          type: string
      必要スキル:
        type: object
        description: 生産に必要なスキル値です。
      レシピ必要:
        type: boolean
        description: true の場合、生産にはレシピが必要です。
      ギャンブル型:
        type: boolean
        description: true の場合、生産ルーレットはギャンブル配置です。
      ペナルティ型:
        type: boolean
        description: true の場合、生産ルーレットはペナルティ配置です。
      収録バインダー:
        type: array
        items:
          $ref: '#/definitions/バインダー情報'
      備考:
        type: string
  スキルカテゴリ情報:
    type: object
    properties:
      スキル名:
        type: string
        description: スキルカテゴリ名です。
      レシピ一覧:
        type: string
        description:
          スキルカテゴリに分類されているレシピを表示するエンドポイントです。
  アイテム個数情報:
    type: object
    properties:
      アイテム名:
        type: string
        description: アイテム名です。
      詳細:
        type: string
        description: 詳細情報を表示するエンドポイントです。
      個数:
        type: integer
        description: アイテムの個数です。
        minimum: 0
      追加情報:
        type: object
        description: 間違えて足したままにしちゃった＞＜ このフィールドは互換性保持のためにこのままにしています。
  アイテム情報:
    type: object
    properties:
      アイテム名:
        type: string
        description: アイテム名です。
      詳細:
        type: string
        description: 詳細情報を表示するエンドポイントです。
  アイテム詳細情報:
    type: object
    properties:
      アイテム名:
        type: string
        description: アイテム名です。
      英名:
        type: string
        description: アイテムの英語名です。
      重さ:
        type: number
        description: アイテムの重さです。
        format: double
        minimum: 0
      NPC売却価格:
        type: integer
        description: NPCへの売却価格です。
        minimum: 0
      参考価格:
        type: integer
        description: アイテムの参考価格です。
        minimum: 0
      info:
        type: string
        description: アイテムのフレーバーテキストです。
      特殊条件:
        type: array
        description: アイテムの特殊条件です。
        items:
          type: object
          properties:
            略称:
              type: string
              description: MoE wiki で使用されている特殊条件の略称です。
              enum:
                - NT
                - OP
                - CS
                - CR
                - PM
                - NC
                - NB
                - ND
                - CA
                - DL
                - TC
                - LO
                - AL
                - WA
            詳細:
              type: string
              description: ゲーム内で表示される特殊条件の解説です。
              enum:
                - 他のプレイヤーにトレードで渡せない
                - 一人一個のみ
                - 売ることができない
                - 修理できない
                - 消耗度による威力計算を行わない
                - 修理による最大耐久度低下を行わない
                - 耐久度による武器の破壊が行われない
                - 死亡時ドロップしない
                - カオスエイジで死亡しても消えない
                - 死亡すると消える
                - タイムカプセルボックスに入れることが出来ない
                - ログアウトすると消える
                - 現在のエリア限定
                - WarAgeでは性能が低下する
      転送可:
        type: boolean
        description: true の場合、マイページに転送できます。
      スタック可:
        type: boolean
        description: true の場合、同じアイテムを複数同じ枠に所持できます。
      ペットアイテム:
        type: object
        properties:
          種別:
            type: string
            description: ペットアイテムの種類です。
            enum:
              - 不明
              - 食べ物
              - 肉食物
              - 草食物
              - 飲み物
              - 酒
              - 薬
              - 金属
              - 石
              - 骨
              - クリスタル
              - 木
              - 皮
              - 紙
              - 布
              - その他
              - 犬も喰わない
          効果:
            type: number
            description: ペットアイテムの効果です。
            format: double
            minimum: 0
      備考:
        type: string
        description: 備考です。
      アイテム種別:
        type: string
        description: アイテム種別を表します。
        enum:
          - 不明
          - その他
          - 食べ物
          - 飲み物
          - 酒
          - 消耗品
          - 武器
          - 防具
          - 弾
          - 盾
          - アセット
      飲食物情報:
        $ref: '#/definitions/飲食物情報'
      武器情報:
        $ref: '#/definitions/武器情報'
      防具情報:
        $ref: '#/definitions/防具情報'
      弾情報:
        $ref: '#/definitions/弾情報'
      盾情報:
        $ref: '#/definitions/盾情報'

  飲食物情報:
    type: object
    description: 飲食物の詳細情報です。アイテム種別が食べ物、飲み物、酒以外の場合や、知恵袋にデータが登録されていない場合には null になります。
    x-nullable: true
    properties:
      効果:
        type: number
        description: 使用した時の効果量です。
        format: double
        minimum: 0
      付加効果:
        $ref: '#/definitions/飲食物付加効果'
  飲食物付加効果:
    type: object
    description: 飲食物の付加効果情報です。知恵袋のデータに効果の詳細が登録されていない場合には null になります。
    x-nullable: true
    properties:
      バフ名:
        type: string
        description: バフ名です。
      バフグループ:
        type: string
        description: バフグループです。
        enum:
          - A
          - B1
          - B2
          - C1
          - C2
          - D1
          - D2
          - D3
          - D4
          - E
          - F
          - その他
      効果:
        type: object
        description: ステータスに影響を与える効果です。
      その他効果:
        type: string
        description: その他の効果です。
      効果時間:
        type: integer
        description: 効果時間です。
      備考:
        type: string
        description: 備考です。
  武器情報:
    type: object
    description: 武器の詳細情報です。アイテム種別が武器以外の場合や、知恵袋にデータが登録されていない場合には null になります。
    x-nullable: true
    properties:
      攻撃力:
        type: array
        description: NG や MG などの各状態ごとの攻撃力です。
        items:
          $ref: '#/definitions/性能情報'
      攻撃間隔:
        type: integer
        description: 武器のディレイです。
        minimum: 0
      有効レンジ:
        type: number
        description: 武器の射程です。
        format: double
        minimum: 0
      必要スキル:
        type: array
        description: 使いこなすのに必要なスキル値です。
        items:
          $ref: '#/definitions/スキル値'
      両手装備:
        type: boolean
        description: 両手武器の場合には true になります。
      装備スロット:
        $ref: '#/definitions/装備スロット'
      装備可能シップ:
        type: array
        description: 装備可能なシップです。
        items:
          $ref: '#/definitions/シップ情報'
      素材:
        $ref: '#/definitions/素材'
      消耗タイプ:
        $ref: '#/definitions/消耗タイプ'
      耐久:
        type: integer
        description: 耐久値を表します。
        minimum: 1
      追加効果:
        type: object
        description: ステータスに影響を与える追加効果です。キーは HP や 命中などのステータス、値はそのステータスへの補正値を表します。
      効果アップ:
        type: array
        description: 攻撃効果が上がる対象を表します。
        items:
          $ref: '#/definitions/効果アップ対象'
      魔法チャージ:
        type: boolean
        description: 魔法チャージが可能な場合には true になります。
      属性チャージ:
        type: boolean
        description: 属性チャージが可能な場合には true になります。
  性能情報:
    type: object
    description: 武器や防具の攻撃力・防御力を表します。
    properties:
      状態:
        type: string
        description: アイテムの状態を表します。
        enum:
          - 不明
          - 劣化
          - 呪い
          - NG
          - HG
          - MG
          - NG(War)
      効果:
        type: number
        description: 各状態での攻撃力や防御力を表します。
        format: double
        minimum: 0
  スキル値:
    type: object
    description: アイテムを装備・使用するのに必要スキル値を表します。
    properties:
      スキル名:
        type: string
        description: スキル名です。
      レシピ一覧:
        type: string
        description: このスキルで生産できるレシピの一覧を表示するエンドポイントです。
      スキル値:
        type: number
        description: 必要スキル値です。
        format: double
        minimum: 0
  装備スロット:
    type: string
    description: アイテムの装備可能部位です。
    enum:
      - 不明
      - 右手
      - 左手
      - 左右
      - 頭(防)
      - 胴(防)
      - 手(防)
      - パンツ(防)
      - 靴(防)
      - 肩(防)
      - 腰(防)
      - 頭(装)
      - 顔(装)
      - 耳(装)
      - 指(装)
      - 胸(装)
      - 背中(装)
      - 腰(装)
  シップ情報:
    type: object
    description: シップの情報を表します。
    properties:
      シップ名:
        type: string
        description: シップ名です。
      詳細:
        type: string
        description: シップの詳細情報です。
  素材:
    type: string
    description: アイテムが何で作られているかを表します。
    enum:
      - 不明
      - 銅
      - 青銅
      - 鉄
      - 鋼
      - 銀
      - 金
      - ミスリル
      - オリハルコン
      - 綿
      - 絹
      - 動物の皮
      - 竜の皮
      - プラント
      - 木
      - トレント
      - 紙
      - 竹筒
      - 黒い竹
      - 骨
      - リペア ストーン
      - ガラス
      - クリスタル
      - コバルト
      - カオス
  消耗タイプ:
    type: string
    description: アイテムの消耗タイプを表します。
    enum:
      - 消耗度
      - 使用可能回数
  効果アップ対象:
    type: string
    description: アイテムの効果が上がる対象を表します。
  防具情報:
    type: object
    description: 防具の詳細情報です。アイテム種別が防具以外の場合や、知恵袋にデータが登録されていない場合には null になります。
    x-nullable: true
    properties:
      アーマークラス:
        type: array
        description: 各状態ごとのアーマークラスです。
        items:
          $ref: '#/definitions/性能情報'
      必要スキル:
        type: array
        description: 使いこなすのに必要なスキル値です。
        items:
          $ref: '#/definitions/スキル値'
      装備スロット:
        $ref: '#/definitions/装備スロット'
      装備可能シップ:
        type: array
        description: 装備可能なシップです。
        items:
          $ref: '#/definitions/シップ情報'
      素材:
        $ref: '#/definitions/素材'
      消耗タイプ:
        $ref: '#/definitions/消耗タイプ'
      耐久:
        type: integer
        description: 耐久値を表します。
        minimum: 1
      追加効果:
        type: object
        description: ステータスに影響を与える追加効果です。キーは HP や 命中などのステータス、値はそのステータスへの補正値を表します。
      付加効果:
        type: string
        description: 装備することで得られるバフ効果です。
      効果アップ:
        type: array
        description: 防御効果が上がる対象を表します。
        items:
          $ref: '#/definitions/効果アップ対象'
      魔法チャージ:
        type: boolean
        description: 魔法チャージが可能な場合には true になります。
      属性チャージ:
        type: boolean
        description: 属性チャージが可能な場合には true になります。
  弾情報:
    type: object
    description: 弾や矢の詳細情報です。アイテム種別が弾以外の場合や、
      知恵袋にデータが登録されていない場合には null になります。
    x-nullable: true
    properties:
      ダメージ:
        type: number
        description: 攻撃力を表します。
        format: double
        minimum: 0
      有効レンジ:
        type: number
        description: 射程距離を表します。
        format: double
        minimum: 0
      角度補正角:
        type: integer
        description: 角度補正角を表します。
      装備可能シップ:
        type: array
        description: 装備可能なシップを表します。
        items:
          $ref: '#/definitions/シップ情報'
      必要スキル:
        type: array
        description: 使用するのに必要なスキル値です。
        items:
          $ref: '#/definitions/スキル値'
      追加効果:
        type: object
        description: ステータスに影響を与える追加効果です。キーは HP や 命中などのステータス、値はそのステータスへの補正値を表します。
      付与効果:
        type: string
        description: 命中時に敵に与える付与効果です。
  盾情報:
    type: object
    description: 盾の詳細情報です。アイテム種別が盾以外の場合や、
      知恵袋にデータが登録されていない場合には null になります。
    x-nullable: true
    properties:
      アーマークラス:
        type: array
        description: 各状態ごとのアーマークラスを表します。
        items:
          $ref: '#/definitions/性能情報'
      必要スキル:
        type: array
        description: 使いこなすのに必要なスキル値を表します。
        items:
          $ref: '#/definitions/スキル値'
      回避:
        type: integer
        description: 盾技を使用した時の回避率です。
        minimum: 0
      使用可能シップ:
        type: array
        description: 装備可能なシップを表します。
        items:
          $ref: '#/definitions/シップ情報'
      素材:
        $ref: '#/definitions/素材'
      消耗タイプ:
        $ref: '#/definitions/消耗タイプ'
      耐久:
        type: integer
        description: 耐久値を表します。
        minimum: 1
      追加効果:
        type: object
        description: 装備することでステータスに影響を与える追加効果です。キーは HP や 命中などのステータス、値はそのステータスへの補正値を表します。
      付加効果:
        type: string
        description: 装備することで得られるバフ効果です。
      効果アップ:
        type: array
        description: 防御効果が上がる対象を表します。
        items:
          $ref: '#/definitions/効果アップ対象'
      魔法チャージ:
        type: boolean
        description: 魔法チャージが可能な場合には true になります。
      属性チャージ:
        type: boolean
        description: 属性チャージが可能な場合には true になります。
